html {
  font-size: 62.5%;
}

body {
  background: $dark-blue;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

.indecision-app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  color: $off-white;
}

footer a {
  text-decoration: none;
  color: $purple;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
